<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bug Tracking System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Role_EmployeeInsertServlet</display-name>
    <servlet-name>Role_EmployeeInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Role_Employee.Role_EmployeeInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Role_EmployeeInsertServlet</servlet-name>
    <url-pattern>/Role_EmployeeInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Role_EmployeeDeleteServlet</display-name>
    <servlet-name>Role_EmployeeDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Role_Employee.Role_EmployeeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Role_EmployeeDeleteServlet</servlet-name>
    <url-pattern>/Role_EmployeeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Role_EmployeeEditServlet</display-name>
    <servlet-name>Role_EmployeeEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Role_Employee.Role_EmployeeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Role_EmployeeEditServlet</servlet-name>
    <url-pattern>/Role_EmployeeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Role_EmployeeUpdateServlet</display-name>
    <servlet-name>Role_EmployeeUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Role_Employee.Role_EmployeeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Role_EmployeeUpdateServlet</servlet-name>
    <url-pattern>/Role_EmployeeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Role_EmployeeListServlet</display-name>
    <servlet-name>Role_EmployeeListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Role_Employee.Role_EmployeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Role_EmployeeListServlet</servlet-name>
    <url-pattern>/Role_EmployeeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reporter_TypeInsertServlet</display-name>
    <servlet-name>Reporter_TypeInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Reporter_Type.Reporter_TypeInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reporter_TypeInsertServlet</servlet-name>
    <url-pattern>/Reporter_TypeInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reporter_TypeListServlet</display-name>
    <servlet-name>Reporter_TypeListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Reporter_Type.Reporter_TypeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reporter_TypeListServlet</servlet-name>
    <url-pattern>/Reporter_TypeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reporter_TypeDeleteServlet</display-name>
    <servlet-name>Reporter_TypeDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Reporter_Type.Reporter_TypeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reporter_TypeDeleteServlet</servlet-name>
    <url-pattern>/Reporter_TypeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reporter_TypeEditServlet</display-name>
    <servlet-name>Reporter_TypeEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Reporter_Type.Reporter_TypeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reporter_TypeEditServlet</servlet-name>
    <url-pattern>/Reporter_TypeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reporter_TypeUpdateServlet</display-name>
    <servlet-name>Reporter_TypeUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Reporter_Type.Reporter_TypeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reporter_TypeUpdateServlet</servlet-name>
    <url-pattern>/Reporter_TypeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Client_DetailsInsertServlet</display-name>
    <servlet-name>Client_DetailsInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Client_Details.Client_DetailsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client_DetailsInsertServlet</servlet-name>
    <url-pattern>/Client_DetailsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Client_DetailsListServlet</display-name>
    <servlet-name>Client_DetailsListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Client_Details.Client_DetailsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client_DetailsListServlet</servlet-name>
    <url-pattern>/Client_DetailsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Client_DetailsDeleteServlet</display-name>
    <servlet-name>Client_DetailsDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Client_Details.Client_DetailsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client_DetailsDeleteServlet</servlet-name>
    <url-pattern>/Client_DetailsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Client_DetailsEditServlet</display-name>
    <servlet-name>Client_DetailsEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Client_Details.Client_DetailsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client_DetailsEditServlet</servlet-name>
    <url-pattern>/Client_DetailsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Client_DetailsUpdateServlet</display-name>
    <servlet-name>Client_DetailsUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Client_Details.Client_DetailsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client_DetailsUpdateServlet</servlet-name>
    <url-pattern>/Client_DetailsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bug_SnapshotsInsertServlet</display-name>
    <servlet-name>Bug_SnapshotsInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Snapshots.Bug_SnapshotsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bug_SnapshotsInsertServlet</servlet-name>
    <url-pattern>/Bug_SnapshotsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bug_SnapshotsListServlet</display-name>
    <servlet-name>Bug_SnapshotsListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Snapshots.Bug_SnapshotsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bug_SnapshotsListServlet</servlet-name>
    <url-pattern>/Bug_SnapshotsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bug_SnapshotEditServlet</display-name>
    <servlet-name>Bug_SnapshotEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Snapshots.Bug_SnapshotEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bug_SnapshotEditServlet</servlet-name>
    <url-pattern>/Bug_SnapshotEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bug_SnapshotsUpdateServlet</display-name>
    <servlet-name>Bug_SnapshotsUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Snapshots.Bug_SnapshotsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bug_SnapshotsUpdateServlet</servlet-name>
    <url-pattern>/Bug_SnapshotsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bug_SnapshotsDeleteServlet</display-name>
    <servlet-name>Bug_SnapshotsDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Snapshots.Bug_SnapshotsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bug_SnapshotsDeleteServlet</servlet-name>
    <url-pattern>/Bug_SnapshotsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectInsertServlet</display-name>
    <servlet-name>ProjectInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project.ProjectInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectInsertServlet</servlet-name>
    <url-pattern>/ProjectInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectEditServlet</display-name>
    <servlet-name>ProjectEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project.ProjectEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectEditServlet</servlet-name>
    <url-pattern>/ProjectEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectDeleteServlet</display-name>
    <servlet-name>ProjectDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project.ProjectDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectDeleteServlet</servlet-name>
    <url-pattern>/ProjectDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectListServlet</display-name>
    <servlet-name>ProjectListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project.ProjectListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectListServlet</servlet-name>
    <url-pattern>/ProjectListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectUpdateServlet</display-name>
    <servlet-name>ProjectUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project.ProjectUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectUpdateServlet</servlet-name>
    <url-pattern>/ProjectUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleInsertServlet</display-name>
    <servlet-name>ModuleInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Module.ModuleInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleInsertServlet</servlet-name>
    <url-pattern>/ModuleInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleDeleteServlet</display-name>
    <servlet-name>ModuleDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Module.ModuleDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleDeleteServlet</servlet-name>
    <url-pattern>/ModuleDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleUpdateServlet</display-name>
    <servlet-name>ModuleUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Module.ModuleUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleUpdateServlet</servlet-name>
    <url-pattern>/ModuleUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleEditServlet</display-name>
    <servlet-name>ModuleEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Module.ModuleEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleEditServlet</servlet-name>
    <url-pattern>/ModuleEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleListServlet</display-name>
    <servlet-name>ModuleListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Module.ModuleListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleListServlet</servlet-name>
    <url-pattern>/ModuleListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskInsertServlet</display-name>
    <servlet-name>TaskInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Task.TaskInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskInsertServlet</servlet-name>
    <url-pattern>/TaskInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskDeleteServlet</display-name>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Task.TaskDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <url-pattern>/TaskDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskUpdateServlet</display-name>
    <servlet-name>TaskUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Task.TaskUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskUpdateServlet</servlet-name>
    <url-pattern>/TaskUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskEditServlet</display-name>
    <servlet-name>TaskEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Task.TaskEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskEditServlet</servlet-name>
    <url-pattern>/TaskEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskListServlet</display-name>
    <servlet-name>TaskListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Task.TaskListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskListServlet</servlet-name>
    <url-pattern>/TaskListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PmtStatusInsertServlet</display-name>
    <servlet-name>PmtStatusInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Pmt_Status.PmtStatusInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PmtStatusInsertServlet</servlet-name>
    <url-pattern>/PmtStatusInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PmtStatusDeleteServlet</display-name>
    <servlet-name>PmtStatusDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Pmt_Status.PmtStatusDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PmtStatusDeleteServlet</servlet-name>
    <url-pattern>/PmtStatusDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PmtStatusEditServlet</display-name>
    <servlet-name>PmtStatusEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Pmt_Status.PmtStatusEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PmtStatusEditServlet</servlet-name>
    <url-pattern>/PmtStatusEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PmtStatusUpdateServlet</display-name>
    <servlet-name>PmtStatusUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Pmt_Status.PmtStatusUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PmtStatusUpdateServlet</servlet-name>
    <url-pattern>/PmtStatusUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PmtStatusListServlet</display-name>
    <servlet-name>PmtStatusListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Pmt_Status.PmtStatusListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PmtStatusListServlet</servlet-name>
    <url-pattern>/PmtStatusListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PmtStatusDAO</display-name>
    <servlet-name>PmtStatusDAO</servlet-name>
    <servlet-class>arthinfosoft.bts.dao.PmtStatusDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PmtStatusDAO</servlet-name>
    <url-pattern>/PmtStatusDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectPlatformDeleteServlet</display-name>
    <servlet-name>ProjectPlatformDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project_Platform.ProjectPlatformDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectPlatformDeleteServlet</servlet-name>
    <url-pattern>/ProjectPlatformDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectPlatformInsertServlet</display-name>
    <servlet-name>ProjectPlatformInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project_Platform.ProjectPlatformInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectPlatformInsertServlet</servlet-name>
    <url-pattern>/ProjectPlatformInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectPlatformEditServlet</display-name>
    <servlet-name>ProjectPlatformEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project_Platform.ProjectPlatformEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectPlatformEditServlet</servlet-name>
    <url-pattern>/ProjectPlatformEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectPlatformListServlet</display-name>
    <servlet-name>ProjectPlatformListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project_Platform.ProjectPlatformListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectPlatformListServlet</servlet-name>
    <url-pattern>/ProjectPlatformListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectPlatformUpdateServlet</display-name>
    <servlet-name>ProjectPlatformUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project_Platform.ProjectPlatformUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectPlatformUpdateServlet</servlet-name>
    <url-pattern>/ProjectPlatformUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectPlatformDAO</display-name>
    <servlet-name>ProjectPlatformDAO</servlet-name>
    <servlet-class>arthinfosoft.bts.dao.ProjectPlatformDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectPlatformDAO</servlet-name>
    <url-pattern>/ProjectPlatformDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectTechnologyEditServlet</display-name>
    <servlet-name>ProjectTechnologyEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project_Technology.ProjectTechnologyEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectTechnologyEditServlet</servlet-name>
    <url-pattern>/ProjectTechnologyEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectTechnologyInsertServlet</display-name>
    <servlet-name>ProjectTechnologyInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project_Technology.ProjectTechnologyInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectTechnologyInsertServlet</servlet-name>
    <url-pattern>/ProjectTechnologyInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectTechnologyUpdateServlet</display-name>
    <servlet-name>ProjectTechnologyUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project_Technology.ProjectTechnologyUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectTechnologyUpdateServlet</servlet-name>
    <url-pattern>/ProjectTechnologyUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectTechnologyListServlet</display-name>
    <servlet-name>ProjectTechnologyListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project_Technology.ProjectTechnologyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectTechnologyListServlet</servlet-name>
    <url-pattern>/ProjectTechnologyListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectTechnologyDeleteServlet</display-name>
    <servlet-name>ProjectTechnologyDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Project_Technology.ProjectTechnologyDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectTechnologyDeleteServlet</servlet-name>
    <url-pattern>/ProjectTechnologyDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugStatusDeleteServlet</display-name>
    <servlet-name>BugStatusDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Status.BugStatusDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugStatusDeleteServlet</servlet-name>
    <url-pattern>/BugStatusDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugStatusInsertServlet</display-name>
    <servlet-name>BugStatusInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Status.BugStatusInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugStatusInsertServlet</servlet-name>
    <url-pattern>/BugStatusInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugStatusListServlet</display-name>
    <servlet-name>BugStatusListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Status.BugStatusListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugStatusListServlet</servlet-name>
    <url-pattern>/BugStatusListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugStatusUpdateServlet</display-name>
    <servlet-name>BugStatusUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Status.BugStatusUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugStatusUpdateServlet</servlet-name>
    <url-pattern>/BugStatusUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugStatusEditServlet</display-name>
    <servlet-name>BugStatusEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Status.BugStatusEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugStatusEditServlet</servlet-name>
    <url-pattern>/BugStatusEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugPriorityDeleteServlet</display-name>
    <servlet-name>BugPriorityDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Priority.BugPriorityDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugPriorityDeleteServlet</servlet-name>
    <url-pattern>/BugPriorityDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugPriorityInsertServlet</display-name>
    <servlet-name>BugPriorityInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Priority.BugPriorityInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugPriorityInsertServlet</servlet-name>
    <url-pattern>/BugPriorityInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugPriorityEditServlet</display-name>
    <servlet-name>BugPriorityEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Priority.BugPriorityEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugPriorityEditServlet</servlet-name>
    <url-pattern>/BugPriorityEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugPriorityUpdateServlet</display-name>
    <servlet-name>BugPriorityUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Priority.BugPriorityUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugPriorityUpdateServlet</servlet-name>
    <url-pattern>/BugPriorityUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugPriorityListServlet</display-name>
    <servlet-name>BugPriorityListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Priority.BugPriorityListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugPriorityListServlet</servlet-name>
    <url-pattern>/BugPriorityListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugTypeDeleteServlet</display-name>
    <servlet-name>BugTypeDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Type.BugTypeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugTypeDeleteServlet</servlet-name>
    <url-pattern>/BugTypeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugTypeUpdateServlet</display-name>
    <servlet-name>BugTypeUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Type.BugTypeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugTypeUpdateServlet</servlet-name>
    <url-pattern>/BugTypeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugTypeInsertServlet</display-name>
    <servlet-name>BugTypeInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Type.BugTypeInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugTypeInsertServlet</servlet-name>
    <url-pattern>/BugTypeInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugTypeEditServlet</display-name>
    <servlet-name>BugTypeEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Type.BugTypeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugTypeEditServlet</servlet-name>
    <url-pattern>/BugTypeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugTypeListServlet</display-name>
    <servlet-name>BugTypeListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Type.BugTypeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugTypeListServlet</servlet-name>
    <url-pattern>/BugTypeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupInsertServet</display-name>
    <servlet-name>GroupInsertServet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group.GroupInsertServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupInsertServet</servlet-name>
    <url-pattern>/GroupInsertServet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupEditServlet</display-name>
    <servlet-name>GroupEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group.GroupEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupEditServlet</servlet-name>
    <url-pattern>/GroupEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupDeleteServlet</display-name>
    <servlet-name>GroupDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group.GroupDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupDeleteServlet</servlet-name>
    <url-pattern>/GroupDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupEditServet</display-name>
    <servlet-name>GroupEditServet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group.GroupEditServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupEditServet</servlet-name>
    <url-pattern>/GroupEditServet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupUpdateServlet</display-name>
    <servlet-name>GroupUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group.GroupUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupUpdateServlet</servlet-name>
    <url-pattern>/GroupUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupListServlet</display-name>
    <servlet-name>GroupListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group.GroupListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupListServlet</servlet-name>
    <url-pattern>/GroupListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupInsertServlet</display-name>
    <servlet-name>GroupInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group.GroupInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupInsertServlet</servlet-name>
    <url-pattern>/GroupInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentInsertServlet</display-name>
    <servlet-name>DepartmentInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Department.DepartmentInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentInsertServlet</servlet-name>
    <url-pattern>/DepartmentInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentEditServlet</display-name>
    <servlet-name>DepartmentEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Department.DepartmentEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentEditServlet</servlet-name>
    <url-pattern>/DepartmentEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentListServlet</display-name>
    <servlet-name>DepartmentListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Department.DepartmentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentListServlet</servlet-name>
    <url-pattern>/DepartmentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentUpdateServlet</display-name>
    <servlet-name>DepartmentUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Department.DepartmentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentUpdateServlet</servlet-name>
    <url-pattern>/DepartmentUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentDeleteServlet</display-name>
    <servlet-name>DepartmentDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Department.DepartmentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentDeleteServlet</servlet-name>
    <url-pattern>/DepartmentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupEmployeeEditServlet</display-name>
    <servlet-name>GroupEmployeeEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group_Employee.GroupEmployeeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupEmployeeEditServlet</servlet-name>
    <url-pattern>/GroupEmployeeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupEmployeeDeleteServlet</display-name>
    <servlet-name>GroupEmployeeDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group_Employee.GroupEmployeeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupEmployeeDeleteServlet</servlet-name>
    <url-pattern>/GroupEmployeeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupEmployeeUpdateServlet</display-name>
    <servlet-name>GroupEmployeeUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group_Employee.GroupEmployeeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupEmployeeUpdateServlet</servlet-name>
    <url-pattern>/GroupEmployeeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupEmployeeListServlet</display-name>
    <servlet-name>GroupEmployeeListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group_Employee.GroupEmployeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupEmployeeListServlet</servlet-name>
    <url-pattern>/GroupEmployeeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupEmployeeDAO</display-name>
    <servlet-name>GroupEmployeeDAO</servlet-name>
    <servlet-class>arthinfosoft.bts.bean.GroupEmployeeDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupEmployeeDAO</servlet-name>
    <url-pattern>/GroupEmployeeDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupEmployeeInsertServlet</display-name>
    <servlet-name>GroupEmployeeInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Group_Employee.GroupEmployeeInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupEmployeeInsertServlet</servlet-name>
    <url-pattern>/GroupEmployeeInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerEmployeeEditServlet</display-name>
    <servlet-name>ManagerEmployeeEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Manager_Employee.ManagerEmployeeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerEmployeeEditServlet</servlet-name>
    <url-pattern>/ManagerEmployeeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerEmployeeInsertServlet</display-name>
    <servlet-name>ManagerEmployeeInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Manager_Employee.ManagerEmployeeInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerEmployeeInsertServlet</servlet-name>
    <url-pattern>/ManagerEmployeeInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerEmployeeUpdateServlet</display-name>
    <servlet-name>ManagerEmployeeUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Manager_Employee.ManagerEmployeeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerEmployeeUpdateServlet</servlet-name>
    <url-pattern>/ManagerEmployeeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerEmployeeDeleteServlet</display-name>
    <servlet-name>ManagerEmployeeDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Manager_Employee.ManagerEmployeeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerEmployeeDeleteServlet</servlet-name>
    <url-pattern>/ManagerEmployeeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerEmployeeListServlet</display-name>
    <servlet-name>ManagerEmployeeListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Manager_Employee.ManagerEmployeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerEmployeeListServlet</servlet-name>
    <url-pattern>/ManagerEmployeeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugAssignEditServlet</display-name>
    <servlet-name>BugAssignEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Assign.BugAssignEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugAssignEditServlet</servlet-name>
    <url-pattern>/BugAssignEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugAssignUpdateServlet</display-name>
    <servlet-name>BugAssignUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Assign.BugAssignUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugAssignUpdateServlet</servlet-name>
    <url-pattern>/BugAssignUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugAssignDeleteServlet</display-name>
    <servlet-name>BugAssignDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Assign.BugAssignDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugAssignDeleteServlet</servlet-name>
    <url-pattern>/BugAssignDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugAssignInsertServlet</display-name>
    <servlet-name>BugAssignInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Assign.BugAssignInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugAssignInsertServlet</servlet-name>
    <url-pattern>/BugAssignInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugAssignListServlet</display-name>
    <servlet-name>BugAssignListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Assign.BugAssignListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugAssignListServlet</servlet-name>
    <url-pattern>/BugAssignListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BugAssignDAO</display-name>
    <servlet-name>BugAssignDAO</servlet-name>
    <servlet-class>arthinfosoft.bts.dao.BugAssignDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugAssignDAO</servlet-name>
    <url-pattern>/BugAssignDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskAssignListServlet</display-name>
    <servlet-name>TaskAssignListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Task_Assign.TaskAssignListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskAssignListServlet</servlet-name>
    <url-pattern>/TaskAssignListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskAssignDeleteServlet</display-name>
    <servlet-name>TaskAssignDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Task_Assign.TaskAssignDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskAssignDeleteServlet</servlet-name>
    <url-pattern>/TaskAssignDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskAssignEditServlet</display-name>
    <servlet-name>TaskAssignEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Task_Assign.TaskAssignEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskAssignEditServlet</servlet-name>
    <url-pattern>/TaskAssignEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskAssignInsertServlet</display-name>
    <servlet-name>TaskAssignInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Task_Assign.TaskAssignInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskAssignInsertServlet</servlet-name>
    <url-pattern>/TaskAssignInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskAssignUpdateServlet</display-name>
    <servlet-name>TaskAssignUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Task_Assign.TaskAssignUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskAssignUpdateServlet</servlet-name>
    <url-pattern>/TaskAssignUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bug_DetailsInsertServlet</display-name>
    <servlet-name>Bug_DetailsInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Details.Bug_DetailsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bug_DetailsInsertServlet</servlet-name>
    <url-pattern>/Bug_DetailsInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bug_DetailsDeleteServlet</display-name>
    <servlet-name>Bug_DetailsDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Details.Bug_DetailsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bug_DetailsDeleteServlet</servlet-name>
    <url-pattern>/Bug_DetailsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bug_DetailsUpdateServlet</display-name>
    <servlet-name>Bug_DetailsUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Details.Bug_DetailsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bug_DetailsUpdateServlet</servlet-name>
    <url-pattern>/Bug_DetailsUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bug_DetailsEditServlet</display-name>
    <servlet-name>Bug_DetailsEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Details.Bug_DetailsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bug_DetailsEditServlet</servlet-name>
    <url-pattern>/Bug_DetailsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bug_DetailsListServlet</display-name>
    <servlet-name>Bug_DetailsListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Bug_Details.Bug_DetailsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bug_DetailsListServlet</servlet-name>
    <url-pattern>/Bug_DetailsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDetailInsertServlet</display-name>
    <servlet-name>EmployeeDetailInsertServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Employee_Detail.EmployeeDetailInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDetailInsertServlet</servlet-name>
    <url-pattern>/EmployeeDetailInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDetailEditServlet</display-name>
    <servlet-name>EmployeeDetailEditServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Employee_Detail.EmployeeDetailEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDetailEditServlet</servlet-name>
    <url-pattern>/EmployeeDetailEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDetailDeleteServlet</display-name>
    <servlet-name>EmployeeDetailDeleteServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Employee_Detail.EmployeeDetailDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDetailDeleteServlet</servlet-name>
    <url-pattern>/EmployeeDetailDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDetailUpdateServlet</display-name>
    <servlet-name>EmployeeDetailUpdateServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Employee_Detail.EmployeeDetailUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDetailUpdateServlet</servlet-name>
    <url-pattern>/EmployeeDetailUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDetailListServlet</display-name>
    <servlet-name>EmployeeDetailListServlet</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Employee_Detail.EmployeeDetailListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDetailListServlet</servlet-name>
    <url-pattern>/EmployeeDetailListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>arthinfosoft.bts.controller.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
</web-app>